@using System.Globalization
@using Reddah.Web.UI.Resources
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}
<div id="ShellFooterContent">
    <div class="PrimaryContent">
        <div id="ShellRightContentArea">
        </div>

        <div id="ShellFooterNavigation">
            <a href="/@locale/r/contact-us">@Resources.Right_ContactUs</a>
            <a href="/@locale/r/reddah-press" class="spread">@Resources.Footer_Press</a>
            <a href="/@locale/r/reddah-developers" class="spread">@Resources.Footer_ForDevelopers</a>
            <a href="/@locale/r/reddah-jobs" class="spread">@Resources.Footer_Jobs</a>
            <a href="/@locale/r/feedbacks" class="spread">@Resources.Right_Feedbacks</a>
            @*<a href="/@locale/r/reddah-photosensitive" class="spread">Photosensitive Seizure Warning</a>*@
        </div>

        <div id="ShellFooterSocial" class="ShellFooterSocial">
            <!--
            <iframe src="&#47;&#47;www.facebook.com&#47;plugins&#47;like.php&#63;locale&#61;en_US&#38;href&#61;http&#37;3a&#37;2f&#37;2fwww.facebook.com&#37;2freddah&#38;send&#61;false&#38;layout&#61;button_count&#38;show_faces&#61;false&#38;action&#61;like&#38;colorscheme&#61;light&#38;font&#38;height&#61;21" class="socialPluginFramefacebook spread" style="border: none; overflow: hidden; height: 21px;" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
            -->
        </div>
        <div id="ShellLeftContentArea">
        </div>
    </div>

    <div class="SecondaryContent">
        <div id="LogoAndCopyright">
            <div id="CopyrightLogo1">
                <font size="4"><a href="http://reddah.com"><b>REDDAH.COM</b></a></font>
            </div>
            <div id="CopyrightText">
                &#169; 2019 <a href="http://reddah.com">REDDAH.COM</a>
            </div>
        </div>
        <div id="ShellFooterSecondaryNavigation">
            <div class="FuncLinkArea">
                <a href="/@locale/ChangeLocale" id="ChangeCultureLink" name="ChangeCultureLink">@Resources.Footer_ChangeLocale</a>
            </div>
            <a href="/@locale/t/help/privacypolicy">@Resources.Footer_PrivacyStatement</a>
            <a href="/@locale/t/help/useragreement" class="spread">@Resources.Footer_TermsOfUse</a>
            <a href="/@locale/t/help/contentpolicy" class="spread">@Resources.Footer_ContentPolicy</a>
            <a href="/@locale/r/dicuss-on-ad" class="spread">@Resources.Right_DiscussAd</a>
        </div>
    </div>

    <div style="height: 100px;">

    </div>

</div>
