@using Reddah.Web.UI.Resources
@using System.Globalization
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}
<div id="ShellHeaderContent">
    <div id="ShellMeBarArea">
        @if (Request.IsAuthenticated)
        {
            <div class="LinkArea">
                <a class="GamerTagArea" href="/@locale/account/manage">@User.Identity.Name</a>
                <span class="spread">
                    <a href="/@locale/submit">@Resources.Header_Create</a>
                </span>
                <span class="spread">
                    <a href="/@locale/ChangeLocale" id="ChangeCultureLink" name="ChangeCultureLink">@Resources.Footer_ChangeLocale</a>
                </span>
                <span class="spread">
                    <a name="RpsSignInLink" href="/@locale/account/logoff">@Resources.Header_SignOut</a>
                </span>
            </div>
        }
        else
        {
            <div class="LinkArea">
                @Resources.Header_Want <a href="#" ng-click="showPanel()">@Resources.Header_SignIn</a> @Resources.Header_Or <a href="#" ng-click="showPanel()">@Resources.Header_JoinNow</a> @Resources.Header_InSeconds
                <span class="spread">
                    <a href="/@locale/ChangeLocale" id="ChangeCultureLink" name="ChangeCultureLink">@Resources.Footer_ChangeLocale</a>
                </span>
            </div>
        }
    </div>
    <div id="ShellNavigationBar">
        @Html.Partial("~/Views/Shared/Controls/NavigationBar.cshtml")
    </div>
    @Html.Partial("~/Views/Shared/Controls/Breadcrumbs.cshtml")
</div>
<div id="BroswerOpacify" ng-click="hidePanel();"></div>
@Html.Partial("~/Views/Shared/Controls/LoginRegister/JsonLoginRegister.cshtml")