@using System.Globalization
@using Reddah.Web.UI.Resources
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}
<!--<a href="/" class="logo_container">
    <img alt="reddah.com" width="120" height="120" src="/content/images/logo.png" class="rd_logo">   
</a>-->
<div>
    <ul class="NavigationElements" style="line-height:90px;">
        <li style="min-width:120px;text-align:center;">
            <a href="/@locale/promoted">@Resources.Menu_Promoted</a>
        </li>
        <li style="min-width:120px;text-align:center;">
            <a href="/@locale/new">@Resources.Menu_New</a>
        </li>
        @*<li style="min-width:120px;text-align:center;">
            <a href="/@locale/hot">@Resources.Menu_Hot</a>
        </li>
        <li style="min-width:120px;text-align:center;">
        <a href="/@locale/t/wiki/Pages/Games/BailinBlocks-Kinect">@Resources.Menu_Games</a>
        </li>
        <li style="min-width:120px;text-align:center;">
            <a href="/@locale/support">@Resources.Menu_Support</a>
        </li>*@
        <li style="min-width:120px;text-align:center;">
            <a href="/@locale/t/wiki/Pages/api/index">@Resources.Menu_OpenPlatform</a>
        </li>
        <li style="min-width:120px;text-align:center;">
            <a href="/@locale/t/wiki/Pages/Download">@Resources.Menu_Download</a>
        </li>
        @*
        <li style="min-width:120px;text-align:center;">
            <a href="/@locale/gilded">@Resources.Menu_Gilded</a>
        </li>
        <li style="min-width:120px;text-align:center;">
            <a href="/@locale/rising">@Resources.Menu_Rising</a>
        </li>
        <li style="min-width:120px;text-align:center;">
            <a href="/@locale/controversial">@Resources.Menu_Controversial</a>
        </li>
        <li class="whenmobile" style="min-width:120px;text-align:center;">
            <a href="/@locale/top">@Resources.Menu_Top</a>
        </li>
        <li class="whenmobile" style="min-width:120px;text-align:center;">
            <a href="/@locale/support">@Resources.Menu_Support</a>
        </li>*@
    </ul>
</div>
 
