@using System.Globalization
@using Reddah.Web.UI.Resources
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}
<div>
    <div class="SearchArea" ng-controller="searchCtrl">
        <input id="SearchTextBox" type="text" name="q" class="TextBox" data-ng-model="keyword" url="" maxlength="200" autocomplete="off" />
        <input id="SearchButton" type="button" class="SubmitButton" value="" title="Search" ng-click="search('@locale', keyword)"/>
    </div>
    <ul class="NavigationElements">
        <!--<li>
        <a href="/" class="logo_container">
            <img alt="reddah.com" width="65" height="65" src="/content/images/logo.png" class="rd_logo">
        </a>
    </li>-->
        <li>
            <a href="/@locale/new">@Resources.Menu_New</a>
        </li>
        <li>
            <a href="/@locale/promoted">@Resources.Menu_Promoted</a>
        </li>
        <li>
            <a href="/@locale/hot">@Resources.Menu_Hot</a>
        </li>
        <li>
            <a href="/@locale/gilded">@Resources.Menu_Gilded</a>
        </li>
        <li>
            <a href="/@locale/rising">@Resources.Menu_Rising</a>
        </li>
        <li>
            <a href="/@locale/controversial">@Resources.Menu_Controversial</a>
        </li>
        <li class="whenmobile">
            <a href="/@locale/top">@Resources.Menu_Top</a>
        </li>
        <li class="whenmobile">
            <a href="/@locale/support">@Resources.Menu_Support</a>
        </li>
        @*<li>
            <a href="/@locale/Articles/wiki/Pages/Download">Tools</a>
        </li>
        <li>
            <a href="#">Games</a>
            <ul>
                <li>
                    <a href="/@locale/Articles/wiki/Pages/Games/BailinBlocks-WindowsPhone" name="en_US_2_0" >Windows Phone</a>
                </li>
                <li>
                    <a href="/@locale/Articles/wiki/Pages/Games/BailinBlocks-Kinect" name="en_US_2_1" >Kinect Game</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/@locale/Articles/wiki/Pages/Download">Download</a>
        </li>
        <li>
            <a href="/@locale/Articles/wiki/Pages/Navigationlist">Support</a>
        </li>*@
    </ul>
</div>
 
