@using Reddah.Web.UI.Resources
@{
    ViewBag.Title = "";
}
<h1 style="display:none;">@ViewBag.UserId</h1>
<h2 style="display:none;">@ViewBag.EmailToken</h2>
<!--<h3>@ViewBag.VerifySuccessState</h3>-->
@if (ViewBag.VerifySuccessState.ToString() == "AlreadyVerified")
{
    <h1>@Resources.Email_AlreadyVerified</h1>
}
else if (ViewBag.VerifySuccessState.ToString() == "WrongToken")
{
    <h1>@Resources.Email_WrongToken</h1>
}
else if (ViewBag.VerifySuccessState.ToString() == "UserNotExist")
{
    <h1>@Resources.Email_UserNotExist</h1>
}
else if (ViewBag.VerifySuccessState.ToString() == "Success")
{
    <h1>@Resources.Email_VerifyOK</h1>
}
else if (ViewBag.VerifySuccessState.ToString() == "NotVerified")
{
    <h1>@Resources.Email_NotVerified</h1>
}
else
{
    <h1>@Resources.Email_UnkownError</h1>
}
