@using System.Globalization    
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName" ng-app="reddahApp">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.ReddahPageTitle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/GridLayout")
    @Styles.Render("~/Content/Shell")
    @Styles.Render("~/Content/MobileCss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/min")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/login")
    @Scripts.Render("~/bundles/comment")
    @Scripts.Render("~/bundles/article")
    @Scripts.Render("~/bundles/lazy")
    <link rel="stylesheet" href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" />
    @RenderSection("scripts", required: false)
</head>
    <body ng-controller="appCtrl" ng-cloak>
        <div id="BodyHeader" class="container">
            @Html.Partial("~/Views/Shared/Controls/Header.mobile.cshtml")
        </div>
        <div id="BodyContent" class="container">
            <div class="bodyContainer">
            @RenderSection("featured", required: false)
            @RenderBody()
            </div>
        </div>
    </body>
</html>