@using Reddah.Web.UI.Models
@using Reddah.Web.UI.Resources
@model IEnumerable<IGrouping<string, CultureViewModel>>
@{
    ViewBag.IncludeHeader = true;
    ViewBag.IncludeFooter = true;
    ViewBag.Title = Resources.ChangeLocale_Title;
}
<style>
    .alert-success {
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
        padding: .8em .8em;
        margin: 0 0;
        border-radius: 5px;
        box-shadow: 0 2px 5px #d1d0bb;
        line-height: 1.5em;
        font-style: normal;
    }

    .em_hint {
        display: inline-block;
    }
</style>
@helper RenderGroup(string key, IEnumerable<CultureViewModel> group)
{
    if (group.Any())
    {
        <li>
            <span>@key</span>
            <ol>
                @foreach (var culture in group)
                {
                    <!--<li><a href="@culture.Link">@culture.DisplayName</a></li>-->
                    <li class="em_hint"><span class="alert-success"><a href="@culture.Link" style="color: #3c763d;">@culture.DisplayName</a></span></li>
                }
            </ol>
        </li>
        <div class="postClear"></div>
    }
}
<h1>@Resources.ChangeLocale_Title</h1>
<p>
    @Resources.ChangeLocale_Desc @*Can’t find your region? <a class="toggleFullList" href="#">View the full list</a>*@
</p>
<section class="primaryRegions">
    <ol class="changeLocaleBlock">
        @foreach (var cultureGroup in Model.Where(c => c.Key[0] <= 'F'))
        {
            @RenderGroup(cultureGroup.Key, cultureGroup.Where(c => c.IsInPreferList))
        }
    </ol>
    <ol class="changeLocaleBlock">
        @foreach (var cultureGroup in Model.Where(c => c.Key[0] >= 'G' && c.Key[0] <= 'O'))
        {
            @RenderGroup(cultureGroup.Key, cultureGroup.Where(c => c.IsInPreferList))
        }
    </ol>
    <ol class="changeLocaleBlock">
        @foreach (var cultureGroup in Model.Where(c => c.Key[0] >= 'P'))
        {
            @RenderGroup(cultureGroup.Key, cultureGroup.Where(c => c.IsInPreferList))
        }
    </ol>
    @*<div class="cannotFindRegion">
            <h2>Can't find your region?</h2>
            <a class="toggleFullList" href="#">View the full list</a>
        </div>*@
</section>
@*
    <section class="fullList">
        <ol class="changeLocaleBlock">
            @foreach (var cultureGroup in Model.Where(c => c.Key[0] <= 'F'))
            {
                @RenderGroup(cultureGroup.Key, cultureGroup)
            }
        </ol>
        <ol class="changeLocaleBlock">
            @foreach (var cultureGroup in Model.Where(c => c.Key[0] >= 'G' && c.Key[0] <= 'O'))
            {
                @RenderGroup(cultureGroup.Key, cultureGroup)
            }
        </ol>
        <ol class="changeLocaleBlock">
            @foreach (var cultureGroup in Model.Where(c => c.Key[0] >= 'P'))
            {
                @RenderGroup(cultureGroup.Key, cultureGroup)
            }
        </ol>
    </section>*@