@using Reddah.Web.UI.Models
@using Reddah.Web.UI.Resources
@model IEnumerable<IGrouping<string, CultureViewModel>>
@{
    ViewBag.IncludeHeader = true;
    ViewBag.IncludeFooter = true;
    ViewBag.Title = Resources.ChangeLocale_Title;
}
@helper RenderGroup(string key, IEnumerable<CultureViewModel> group)
{
    if (group.Any())
    {
        <li>
            <span>@key</span>
            <ol>
                @foreach (var culture in group)
                {
                    <li><a href="@culture.Link" class="em_hint">@culture.DisplayName</a> </li>
                }
            </ol>
            <div class="postClear"></div>
        </li>
    }
}
<style>
    .em_hint {
        display: inline-block;
        line-height: 1.5em;
        font-style: normal;
        background: #fcfbd7;
        padding: .5em .75em;
        margin: 0 0;
        border-radius: 5px;
        box-shadow: 0 2px 5px #d1d0bb;
        color: #222;
    }
</style>
<link href="/Content/Comment.css" rel="stylesheet" />
<link href="/Content/Post.css" rel="stylesheet" />
<h1>@Resources.ChangeLocale_Title</h1>
<p>
    @Resources.ChangeLocale_Desc
</p>
<section class="primaryRegions">
    <ol class="changeLocaleBlock">
        @foreach (var cultureGroup in Model.Where(c => c.Key[0] <= 'Z'))
        {
            @RenderGroup(cultureGroup.Key, cultureGroup.Where(c => c.IsInPreferList))
        }
    </ol>
    @*@<ol class="changeLocaleBlock">
            @foreach (var cultureGroup in Model.Where(c => c.Key[0] >= 'G' && c.Key[0] <= 'O'))
            {
                @RenderGroup(cultureGroup.Key, cultureGroup.Where(c => c.IsInPreferList))
            }
        </ol>
        <ol class="changeLocaleBlock">
            @foreach (var cultureGroup in Model.Where(c => c.Key[0] >= 'P'))
            {
                @RenderGroup(cultureGroup.Key, cultureGroup.Where(c => c.IsInPreferList))
            }
        </ol>*@
</section>
@*
    <section class="fullList">
        <ol class="changeLocaleBlock">
            @foreach (var cultureGroup in Model.Where(c => c.Key[0] <= 'F'))
            {
                @RenderGroup(cultureGroup.Key, cultureGroup)
            }
        </ol>
        <ol class="changeLocaleBlock">
            @foreach (var cultureGroup in Model.Where(c => c.Key[0] >= 'G' && c.Key[0] <= 'O'))
            {
                @RenderGroup(cultureGroup.Key, cultureGroup)
            }
        </ol>
        <ol class="changeLocaleBlock">
            @foreach (var cultureGroup in Model.Where(c => c.Key[0] >= 'P'))
            {
                @RenderGroup(cultureGroup.Key, cultureGroup)
            }
        </ol>
    </section>*@
