@using Reddah.Web.UI.Models
@model IEnumerable<IGrouping<string, CultureViewModel>>
@{
    ViewBag.IncludeHeader = true;
    ViewBag.IncludeFooter = true;
    ViewBag.Title = "Set Your Default Country or Region";
}
@helper RenderGroup(string key, IEnumerable<CultureViewModel> group)
{
    if (group.Any())
    {
        <li>
            <span>@key</span>
            <ol>
                @foreach (var culture in group)
                {
                    <li><a href="@culture.Link">@culture.DisplayName</a></li>
                }
            </ol>
        </li>
    }
}
<link href="/Content/Comment.css" rel="stylesheet" />
<link href="/Content/Post.css" rel="stylesheet" />
<h1>Set Your Default Country or Region</h1>
<p>
    Select the default country or region you would like to see each time you visit Reddah.com.
</p>
<section class="primaryRegions">
    <ol class="changeLocaleBlock">
        @foreach (var cultureGroup in Model.Where(c => c.Key[0] <= 'Z'))
        {
            @RenderGroup(cultureGroup.Key, cultureGroup.Where(c => c.IsInPreferList))
        }
    </ol>
    @*@<ol class="changeLocaleBlock">
        @foreach (var cultureGroup in Model.Where(c => c.Key[0] >= 'G' && c.Key[0] <= 'O'))
        {
            @RenderGroup(cultureGroup.Key, cultureGroup.Where(c => c.IsInPreferList))
        }
    </ol>
    <ol class="changeLocaleBlock">
        @foreach (var cultureGroup in Model.Where(c => c.Key[0] >= 'P'))
        {
            @RenderGroup(cultureGroup.Key, cultureGroup.Where(c => c.IsInPreferList))
        }
    </ol>*@
</section>
<section class="fullList">
    <ol class="changeLocaleBlock">
        @foreach (var cultureGroup in Model.Where(c => c.Key[0] <= 'F'))
        {
            @RenderGroup(cultureGroup.Key, cultureGroup)
        }
    </ol>
    <ol class="changeLocaleBlock">
        @foreach (var cultureGroup in Model.Where(c => c.Key[0] >= 'G' && c.Key[0] <= 'O'))
        {
            @RenderGroup(cultureGroup.Key, cultureGroup)
        }
    </ol>
    <ol class="changeLocaleBlock">
        @foreach (var cultureGroup in Model.Where(c => c.Key[0] >= 'P'))
        {
            @RenderGroup(cultureGroup.Key, cultureGroup)
        }
    </ol>
</section>
