<div id="@Model.Identifier" class="contactUsProductItem" link="@Model.NavigationListUrl" index="@Model.Index" path="Model.NavigationTestPath" tabindex="0">
    <div class="contactUsProductIcon"><img title ="" alt="" src="@Model.IconPath" width="120" height="120" /></div>
    <div class="contactUsProductTitle">@Model.Title</div>
</div>