@model Reddah.Web.UI.Models.LoginModel
@using Reddah.Web.UI.Utility
@using Reddah.Web.UI.Resources
@using System.Globalization
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}
@if (!Request.IsAuthenticated)
{
<div class="loginTable">
    <table ng-controller="loginCtrl">
        <tr>
            <td>@Html.TextBoxFor(m => m.UserName, new { @class = "loginUserName", @placeholder = @Resources.Login_UserName, data_ng_model = "loginModel.UserName" })</td>
        </tr>
        <tr>
            <td>@Html.PasswordFor(m => m.Password, new { @class = "loginPassword", @placeholder = @Resources.Login_Password, data_ng_model = "loginModel.Password" })</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="loginRememberMe">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox", data_ng_model = "loginModel.RememberMe" })
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkboxlabel" })
                </div>
                <div class="loginReset" style="display:none;"><label>Reset Password</label></div>
                <input class="loginButton" type="button" value="@Resources.Header_SignIn" ng-click="login()" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <img class="loginLoading" src="/content/images/loading_50x50.gif" ng-show="loadingLogin" />
                <div class="loginError" ng-show="loginModel.Error!='' &&!loadingLogin" ng-bind="loginModel.Error"></div>
            </td>
        </tr>
    </table>
    <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@Helpers.GetAntiForgeryToken()'" />
    <input id="locale" data-ng-model="locale" type="hidden" data-ng-init="locale='@locale'" />
</div>
}