@model Reddah.Web.UI.Models.LoginModel
@using Reddah.Web.UI.Resources
<h2>@Resources.Header_SignIn</h2>
<div>@Html.TextBoxFor(m => m.UserName, new { @class = "loginText", @placeholder = @Resources.Login_UserName, data_ng_model = "loginModel.UserName" })</div>
<div>@Html.PasswordFor(m => m.Password, new { @class = "loginText", @placeholder = @Resources.Login_Password, data_ng_model = "loginModel.Password" })</div>
<div class="loginRememberMe">
    @Html.CheckBoxFor(m => m.RememberMe, new { @id = "login_rem", data_ng_model = "loginModel.RememberMe" })
    <label class="checkbox" for="login_rem">@Resources.Login_RememberMe</label>
</div>
<div class="loginReset" style="display:none;"><label>Reset Password</label></div>
<table style="width:100%">
    <tr>
        <td>
            <img class="loginLoading" src="/content/images/loading_50x50.gif" ng-show="loadingLogin==true" />
            <div class="loginError" ng-show="loginModel.Error!='' &&!loadingLogin" ng-bind="loginModel.Error"></div>
        </td>
    </tr>
    <tr>
        <td><input class="floatLoginButton" type="button" value="@Resources.Header_SignIn" ng-click="login()" /></td>
    </tr>
</table>