@model Reddah.Web.UI.Models.RegisterModel
@using Reddah.Web.UI.Resources
<h2>@Resources.Login_CreateNewAccount</h2>
<div>@Html.TextBoxFor(m => m.UserName, new { @class = "loginText", @placeholder = @Resources.Login_UserName, data_ng_model = "registerModel.UserName" })</div>
<div>@Html.PasswordFor(m => m.Password, new { @class = "loginText", @placeholder = @Resources.Login_Password, data_ng_model = "registerModel.Password" })</div>
<div>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "loginText", @placeholder = @Resources.Login_ConfirmPassword, data_ng_model = "registerModel.ConfirmPassword" })</div>
<div>@Html.TextBoxFor(m => m.Email, new { @class = "loginText", @placeholder = @Resources.Login_Email, data_ng_model = "registerModel.Email" })</div>
<div class="loginRememberMe">
    @Html.CheckBoxFor(m => m.RememberMe, new { @id = "reg_rem", data_ng_model = "registerModel.RememberMe" })
    <label class="checkbox" for="reg_rem">@Resources.Login_RememberMe</label>
</div>
<table style="width:100%">
    <tr>
        <td>
            <img class="loginLoading" src="/content/images/loading_50x50.gif" ng-show="loadingRegister" />
            <div class="loginError" ng-show="registerModel.Error!='' &&!loadingRegister">{{registerModel.Error}}</div>
        </td>
    </tr>
    <tr>
        <td><input class="floatLoginButton" type="button" value="@Resources.Login_Signup" ng-click="register()" /></td>
    </tr>
</table>