@using Reddah.Web.UI.Models
@using System.Globalization
@using Reddah.Web.UI.Resources
@using Reddah.Web.UI.Utility
@{
    var locale = CultureInfo.CurrentUICulture.Name;
    ViewBag.ReddahPageTitle = Helpers.HtmlDecode(Model.Article.Title);
    Layout = "~/Views/Shared/Layouts/_ArticleLayout.mobile.cshtml";
}
<link href="/Content/Comment.css" rel="stylesheet" />
<link href="/Content/Post.css" rel="stylesheet" />
<style>
    .flex-vote {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }

        .flex-vote > u {
            background-image: url("/Content/Images/like-dislike.png"), none;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: initial;
            cursor: pointer;
            height: 40px;
            width: 40px;
            text-decoration: none;
        }

        .flex-vote > a {
            background-image: url("/Content/Images/like-dislike.png"), none;
            background-position: -40px 0;
            background-repeat: no-repeat;
            background-size: initial;
            cursor: pointer;
            height: 40px;
            width: 40px;
        }

        .flex-vote > i {
            margin: 0 15px 0 5px;
        }

    .commentBox {
        padding-top: 20px;
    }
</style>
<div class="articleContent" id="articleContentMobile">
    <div class="listInfo"><h1>@Html.Raw(Helpers.HtmlDecode(Model.Article.Title))</h1></div>
    <div class="postClear"></div>
    <div class="listInfo">
        @Resources.List_Submit @Model.Article.CreatedOn @Resources.List_By <a href="/@locale/user/@Model.Article.UserName">@Model.Article.UserName</a>
        @foreach (string g in Model.Article.GroupName.Trim().Split(','))
        {
            <a href="/@locale/r/@Helpers.HtmlDecode(g)"><u>@Helpers.HtmlDecode(g)</u> </a>
        }
    </div>
    @if (Model.Article.LastUpdateOn != null)
    {<div class="listInfo">@Resources.List_LastUpdateOn @Model.Article.LastUpdateOn</div>}
    <div class="listInfo">
        @if (User.Identity.Name.Equals(Model.Article.UserName) || Helpers.Acl(User.Identity.Name, PrivilegeList.EditPost))
        {<u><a href="/@locale/edit/@Model.Article.Id">[Edit]</a></u>}
        @if (User.Identity.Name.Equals(Model.Article.UserName) || Helpers.Acl(User.Identity.Name, PrivilegeList.DeletePost))
        {<u><a href="/@locale/delete/@Model.Article.Id">[Delete]</a></u>}
    </div>
    <div class="listInfo" style="display:none;">share save hide report</div>
    <div class="postClear"></div>
    <div>@Html.Raw(Helpers.HtmlDecode(Model.Article.Content))</div>
    <div class="postModuleLiner"></div>
    <div class="commentBox">
        @foreach (string g in Model.GroupName.Trim().Split(','))
        {
            <div ng-controller="groupCtrl" data-ng-init="getGroup('@g','@locale')">
                {{ group.Desc | limitTo:group.Limit }}
                <span ng-if="group.Desc.length > 150 && group.Desc.length != group.Limit">
                    <a ng-click="showMore()">... @Resources.Browse_ShowMoreText{{(group.Desc.length-150)/group.Desc.length*100 | number:0}}%<i class="fa fa-chevron-down"></i></a>
                </span>
                @*<span ng-if="group.Desc.length == group.Limit">
                    <a ng-click="showLess()">@Resources.Browse_ShowLessText<i class="fa fa-chevron-up"></i></a>
                </span>*@
            </div>
        }
    </div>
    <section class="flex-vote">
        @if (Request.IsAuthenticated)
        {
            <u id="voteButton" ng-click="vote(@Model.Article.Id, 'up', @(Model.Article.Up-Model.Article.Down),'articleContentMobile')"></u>
            <i id="voteInfo" ng-click="vote(@Model.Article.Id, 'up', @(Model.Article.Up-Model.Article.Down),'articleContentMobile')"><u>@Resources.Article_Likeit</u></i>
            <i id="voteThanks" style="display:none;"><u>Thank you for the feedback! Your vote here will to help them become popular.</u></i>
            <span style="display:none;" itemprop="upvoteCount" id="vote-count-post-@Model.Article.Id">@(Model.Article.Up - Model.Article.Down)</span>
        }
        else
        {
            <u></u>
            <i><a href="/@locale/account/login"><u>@Resources.Article_Likeit</u></a></i>
        }
    </section>
    <div class="postModuleLiner"></div>
    <div ng-controller="commentCtrl" id="mobileComments" class="commentBox">
        <input data-ng-model="articleId" type="hidden" data-ng-init="articleId='@Model.Article.Id'" />
        @Resources.Article_CommentTitle @Model.Article.Count @Resources.Article_CommentCount
        @Html.Partial("~/Views/Articles/NewComment.cshtml", new CommentModel() { ParentId = -1 })
        @Html.Partial("Comment", Model.Comments as SeededComments)
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let vs = Array.from($("video"));

        vs.forEach((v) => {

            v.onclick = function () {
                if (v.paused) {
                    v.play();
                } else {
                    v.pause();
                }
            };

        });

    });

</script>