@using Reddah.Web.UI.Models
@using System.Globalization
@using Reddah.Web.UI.Resources
@using Reddah.Web.UI.Utility
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}
<link href="/Content/Comment.css" rel="stylesheet" />
<link href="/Content/Post.css" rel="stylesheet" />
<style>
    .flex-vote {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }

        .flex-vote > u {
            background-image: url("/Content/Images/like-dislike.png"), none;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: initial;
            cursor: pointer;
            height: 40px;
            width: 40px;
            text-decoration: none;
        }

        .flex-vote > a {
            background-image: url("/Content/Images/like-dislike.png"), none;
            background-position: -40px 0;
            background-repeat: no-repeat;
            background-size: initial;
            cursor: pointer;
            height: 40px;
            width: 40px;
        }

        .flex-vote > i {
            margin: 0 15px 0 5px;
        }
</style>
<div class="articleContent" id="articleContentMobile">
    <div class="listInfo"><h1>@Html.Raw(Helpers.HtmlDecode(Model.Article.Title))</h1></div>
    <div class="postClear"></div>
    <div class="listInfo">@Resources.List_Submit @Model.Article.CreatedOn @Resources.List_By <a href="/@locale/user/@Model.Article.UserName">@Model.Article.UserName</a>  <a href="/@locale/r/@Helpers.HtmlDecode(Model.Article.GroupName)"><u>@Helpers.HtmlDecode(Model.Article.GroupName)</u></a></div>
    @if (Model.Article.LastUpdateOn != null)
    {<div class="listInfo">@Resources.List_LastUpdateOn @Model.Article.LastUpdateOn</div>}
    <div class="listInfo">
        @if (User.Identity.Name.Equals(Model.Article.UserName) || Helpers.Acl(User.Identity.Name, PrivilegeList.EditPost))
        {<u><a href="/@locale/edit/@Model.Article.Id">[Edit]</a></u>}
        @if (User.Identity.Name.Equals(Model.Article.UserName) || Helpers.Acl(User.Identity.Name, PrivilegeList.DeletePost))
        {<u><a href="/@locale/delete/@Model.Article.Id">[Delete]</a></u>}
    </div>
    <div class="listInfo" style="display:none;">share save hide report</div>
    <div class="postClear"></div>
    <div>@Html.Raw(Helpers.HtmlDecode(Model.Article.Content))</div>
    <div class="postModuleLiner"></div>
    <section class="group">
        @foreach (string g in Model.GroupName.Trim().Split(','))
        {
            <div ng-controller="groupCtrl" data-ng-init="getGroup('@g','@locale')">
                <p>{{group.Desc}}</p>
            </div>
        }
    </section>
</div>
<section class="flex-vote">
    @if (Request.IsAuthenticated)
    {
        <u id="voteButton" ng-click="vote(@Model.Article.Id, 'up', @(Model.Article.Up-Model.Article.Down),'articleContentMobile')"></u>
        <i id="voteInfo" ng-click="vote(@Model.Article.Id, 'up', @(Model.Article.Up-Model.Article.Down),'articleContentMobile')"><u>@Resources.Article_Likeit</u></i>
        <i id="voteThanks" style="display:none;"><u>Thank you for the feedback! Your vote here will to help them become popular.</u></i>
        <span style="display:none;" itemprop="upvoteCount" id="vote-count-post-@Model.Article.Id">@(Model.Article.Up - Model.Article.Down)</span>
    }
    else
    {
        <u></u>
        <i><a href="/@locale/account/login"><u>@Resources.Article_Likeit</u></a></i>
    }
</section>
<div class="postModuleLiner"></div>
<div ng-controller="commentCtrl" id="mobileComments">
    <input data-ng-model="articleId" type="hidden" data-ng-init="articleId='@Model.Article.Id'" />
    All @Model.Article.Count Comments
    @Html.Partial("~/Views/Articles/NewComment.cshtml", new CommentModel() { ParentId = -1 })
    @Html.Partial("Comment", Model.Comments as SeededComments)
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let vs = Array.from($("video"));

        vs.forEach((v) => {

            v.onclick = function () {
                if (v.paused) {
                    v.play();
                } else {
                    v.pause();
                }
            };

        });

    });

</script>