@using Reddah.Web.UI.Models
@using Reddah.Web.UI.Utility
@using System.Globalization   
@{
    var locale = CultureInfo.CurrentUICulture.Name;
    int index = (GetNextPageNo()-1)*25 + 1;
    int nextPrevIndex = 1;
}
@functions{
    public bool ShowPrev()
    {
        return GetNextPageNo() > 1;
    }
    public int GetPrevPageNo()
    {
        var pageNo = Request.Params["page"];
        int newPageNo = 0;
        if (string.IsNullOrWhiteSpace(pageNo))
        {
            newPageNo = 0;
        }
        else
        {
            if (int.TryParse(pageNo, out newPageNo))
            {
                newPageNo -= 1;
            }
        }

        return newPageNo;
    }
    public int GetNextPageNo()
    {
        var pageNo = Request.Params["page"];
        int newPageNo = 1;
        if (string.IsNullOrWhiteSpace(pageNo))
        {
            newPageNo = 1;
        }
        else
        {
            if(int.TryParse(pageNo, out newPageNo))
            {
                newPageNo += 1;
            }
        }

        return newPageNo;
    }
}
<link href="/Content/Post.css" rel="stylesheet" />
@*<h1 class="HomePageModular">@Model.ArticleTitle</h1>*@
<div class="rightBox">
    @Html.Partial("~/Views/Shared/Controls/LoginRegister/JsonLogin.cshtml", new Reddah.Web.UI.Models.LoginModel())
    @if (Model.RightBoxModules!=null)
    {
        int j = 0;
        foreach (var rightBoxModule in Model.RightBoxModules)
        {
            if (!String.IsNullOrEmpty(rightBoxModule.Title) && !String.IsNullOrEmpty(rightBoxModule.ArticleUrl))
            {
                if (j == 3)
                {
                    break;
                }
                <div class="HomePageRightBoxModule">
                    <table>
                        <tr>
                            <td>
                                <a href="/@locale/@rightBoxModule.ArticleUrl"><img alt="@rightBoxModule.ImageUrl" src="@rightBoxModule.ImageUrl"/></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="rightBoxModule">
                                <h2><a href="/@locale/@rightBoxModule.ArticleUrl">@rightBoxModule.Title</a></h2>
                                <div>@rightBoxModule.Description</div>
                            </td>
                        </tr>
                    </table>
                </div>
                j++;
            }
        }
    }
</div>
<div class="postBlock">
    @if (Model.NextPrevBox != null) 
    { 
        <div class="upcomingLinks" ng-controller="nextprevbox">
            @foreach (var article in Model.NextPrevBox)
            {
                if (!String.IsNullOrEmpty(article.Title) && !String.IsNullOrEmpty(article.Abstract) && !String.IsNullOrEmpty(article.ArticleUrl))
                {
                    <div class="upcomingPost" id="upcomingPost-@nextPrevIndex" ng-init="showPost()">
                        <span class="voterank"></span>
                        <div class="votecell">
                            <div class="vote">
                                @if (Request.IsAuthenticated){
                                <a class="vote-up-off" ng-click="vote(@article.Id, 'up', @(article.Up-article.Down))">up vote</a>
                                <span itemprop="upvoteCount" class="vote-count-post" id="vote-count-post-@article.Id">-</span>
                                <a class="vote-down-off" ng-click="vote(@article.Id, 'down', @(article.Up-article.Down))">down vote</a>}
                                else{
                                <a class="vote-up-off" ng-click="showPanel()">up vote</a>
                                <span itemprop="upvoteCount" class="vote-count-post">-</span>
                                <a class="vote-down-off" ng-click="showPanel()">down vote</a>
                                }
                            </div>
                        </div>
                        <div class="listInfoBlock">
                            @if (!String.IsNullOrEmpty(article.ImageUrl)) 
                            {
                            <div class="listImage">
                                <div class="listImageWrapper">
                                    <img ng-click="showImage('upcomingLinks', @nextPrevIndex)" class="BrowsePreviewImage" onerror="this.style.display='none'" width="193" src="@article.ImageUrl" alt="picture">
                                </div>
                            </div>
                            }
                        
                            <h2><a ng-click="toggleArticle('upcomingLinks', @nextPrevIndex)">@Helpers.HtmlDecode(article.Title)</a> <span class="listInfo" style="display:none;">(source)</span></h2>
                            <div>@Helpers.HtmlDecode(article.Abstract)</div>
                            <div class="listInfo">submitted @article.CreatedOn ago by <a href="/@locale/user/@article.UserName">@article.UserName</a> to <a href="/@locale/r/@Helpers.HtmlDecode(article.GroupName)">/r/@Helpers.HtmlDecode(article.GroupName)</a></div>
                            <div class="listInfo"><a href="/@locale/r/@article.GroupName/comments/@article.Id/@Helpers.GetUrlTitle(Helpers.HtmlDecode(article.Title))/" target="_blank">@article.Comments comments</a> <!--share save hide report--></div>
                            <div class="postClear"></div>
                            <img id="org_image_@nextPrevIndex" class="orgImage" onerror="if (this.src != '/content/images/noimage.jpg') this.src = '/content/images/noimage.jpg';" width="100%" src="@article.ImageUrl" alt="picture">
                            <div id="org_article_@nextPrevIndex" class="orgArticle">@Html.Raw(Helpers.HtmlDecode(article.Content))</div>
                        </div>
                    </div>
                }
                nextPrevIndex++;
            }
            <div class="nextprev">
                <img class="buttonPrevNext" src="/content/images/arrow-left.png" ng-click="prev(@Model.NextPrevBox.Count)"/>
                <img class="buttonPrevNext" src="/content/images/arrow-right.png" ng-click="next(@Model.NextPrevBox.Count)"/>
            </div>
            <div class="nextprevHelp" title="This area shows new and upcoming links. Vote on links here to help them become popular, and click the forwards and backwards buttons to view more.">what's this?</div>    
        </div>
    }
    @if(Model.TrendingSubs!=null){
    <div class="trendingSubs">trending subreddahs 
        @foreach(var trendingSub in Model.TrendingSubs) {
            <a href="/@locale/r/@trendingSub">r/@trendingSub</a>
        }
    </div>
    }
    <div class="postClear"></div>
    @foreach (var article in Model.Articles)
    {
        if (!String.IsNullOrEmpty(article.Title) && !String.IsNullOrEmpty(article.Abstract) && !String.IsNullOrEmpty(article.ArticleUrl))
        {
            <div class="post">
                <span class="voterank">@index</span>
                <div class="votecell">
                    <div class="vote">
                        @if (Request.IsAuthenticated){
                        <a class="vote-up-off" ng-click="vote(@article.Id, 'up', @(article.Up-article.Down))">up vote</a>
                        <span itemprop="upvoteCount" class="vote-count-post" id="vote-count-post-@article.Id">@(article.Up-article.Down)</span>
                        <a class="vote-down-off" ng-click="vote(@article.Id, 'down', @(article.Up-article.Down))">down vote</a>}
                        else{
                        <a class="vote-up-off" ng-click="showPanel()">up vote</a>
                        <span itemprop="upvoteCount" class="vote-count-post">@(article.Up-article.Down)</span>
                        <a class="vote-down-off" ng-click="showPanel()">down vote</a>
                        }
                    </div>
                </div>
                <div class="postModuleLiner">
                    @if (!String.IsNullOrEmpty(article.ImageUrl)) 
                    {
                    <div class="listImage">
                        <div class="listImageWrapper">
                            <img ng-click="showImage('post', @index)" class="BrowsePreviewImage" onerror="this.style.display='none'" width="193" src="@article.ImageUrl" alt="picture">
                        </div>
                    </div>
                    }
                    <h2><a ng-click="toggleArticle('post', @index)">@Helpers.HtmlDecode(article.Title)</a> <span class="listInfo" style="display:none;">(source)</span></h2>
                    <div>@Helpers.HtmlDecode(article.Abstract)</div>
                    <div class="listInfo">submitted @article.CreatedOn ago by <a href="/@locale/user/@article.UserName">@article.UserName</a> to <a href="/@locale/r/@Helpers.HtmlDecode(article.GroupName)">/r/@Helpers.HtmlDecode(article.GroupName)</a></div>
                    <div class="listInfo"><a href="/@locale/r/@article.GroupName/comments/@article.Id/@Helpers.GetShortTitle(Helpers.HtmlDecode(article.Title))/" target="_blank">@article.Comments comments</a> <!--share save hide report--></div>
                    <div class="postClear"></div>
                    <img id="org_image_@index" class="orgImage" onerror="if (this.src != '/content/images/noimage.jpg') this.src = '/content/images/noimage.jpg';" width="100%" src="@article.ImageUrl" alt="picture">
                    <div id="org_article_@index" class="orgArticle">@Html.Raw(Helpers.HtmlDecode(article.Content))</div>
                </div>
            </div>
            <div class="postClear"></div>
        }
        index++;
    }
    
    @*@{
        Html.RenderPartial("~/views/Shared/Controls/AssistanceModule.cshtml", 1);
    }*@
    <span class="footermenu">
        View more:
        @if(ShowPrev()) {
        <a class="nextbutton" href ="?page=@GetPrevPageNo()">< Prev </a><span class="separator"></span> }
        <a class="nextbutton" href ="?page=@GetNextPageNo()">Next > </a>
        or try a <a class="nextbutton" href="/@CultureInfo.CurrentUICulture.Name/random"> Random Subreddah</a>
    </span>
</div> 
@if(Model.Articles.Count<5){
<div id="box" style="height:100vh;"></div>
}