@using Reddah.Web.UI.Models
@using Reddah.Web.UI.Utility
@using System.Globalization   
@{
    var locale = CultureInfo.CurrentUICulture.Name;
    int index = (GetNextPageNo()-1)*25 + 1;
    int nextPrevIndex = 1;
}
@functions{
    public bool ShowPrev()
    {
        return GetNextPageNo() > 1;
    }
    public int GetPrevPageNo()
    {
        var pageNo = Request.Params["page"];
        int newPageNo = 0;
        if (string.IsNullOrWhiteSpace(pageNo))
        {
            newPageNo = 0;
        }
        else
        {
            if (int.TryParse(pageNo, out newPageNo))
            {
                newPageNo -= 1;
            }
        }

        return newPageNo;
    }
    public int GetNextPageNo()
    {
        var pageNo = Request.Params["page"];
        int newPageNo = 1;
        if (string.IsNullOrWhiteSpace(pageNo))
        {
            newPageNo = 1;
        }
        else
        {
            if(int.TryParse(pageNo, out newPageNo))
            {
                newPageNo += 1;
            }
        }

        return newPageNo;
    }
}
<link href="/Content/Post.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
@*<h1 class="HomePageModular">@Model.ArticleTitle</h1>*@
<div class="rightBox">
    @Html.Partial("~/Views/Shared/Controls/LoginRegister/JsonLogin.cshtml", new Reddah.Web.UI.Models.LoginModel())
    @if (Model.RightBoxModules!=null)
    {
        int j = 0;
        foreach (var rightBoxModule in Model.RightBoxModules)
        {
            if (!String.IsNullOrEmpty(rightBoxModule.Title) && !String.IsNullOrEmpty(rightBoxModule.ArticleUrl))
            {
                if (j == 3)
                {
                    break;
                }
                <div class="HomePageRightBoxModule">
                    <table>
                        <tr>
                            <td>
                                <a href="/@locale/@rightBoxModule.ArticleUrl"><img alt="@rightBoxModule.ImageUrl" src="@rightBoxModule.ImageUrl"/></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="rightBoxModule">
                                <h2><a href="/@locale/@rightBoxModule.ArticleUrl">@rightBoxModule.Title</a></h2>
                                <div>@rightBoxModule.Description</div>
                            </td>
                        </tr>
                    </table>
                </div>
                j++;
            }
        }
    }
</div>
@*<a href="/@locale/r/@article.GroupName/comments/@article.Id/@Helpers.GetShortTitle(Helpers.HtmlDecode(article.Title))/" target="_blank">*@
<div class="postBlock">
    @if(Model.TrendingSubs!=null){
    <div class="trendingSubs">trending subreddahs 
        @foreach(var trendingSub in Model.TrendingSubs) {
            <a href="/@locale/r/@trendingSub">r/@trendingSub</a>
        }
    </div>
    }
    <div class="postClear"></div>
    @foreach (var article in Model.Articles)
    {
        if (!String.IsNullOrEmpty(article.Title) && !String.IsNullOrEmpty(article.Abstract) && !String.IsNullOrEmpty(article.ArticleUrl))
        {
            <div class="post">
                <div class="postModuleLiner">
                    @if (!String.IsNullOrEmpty(article.ImageUrl)) 
                    {
                    <div class="listImage">
                        <div class="listImageWrapper">
                            <img ng-click="showImage('post', @index)" class="BrowsePreviewImage" onerror="this.style.display='none'" width="193" src="@article.ImageUrl" alt="picture">
                        </div>
                    </div>
                    }
                    <h2><a ng-click="toggleArticle('post', @index)">@Helpers.HtmlDecode(article.Title)</a> <span class="listInfo" style="display:none;">(source)</span></h2>
                    <div>@Helpers.HtmlDecode(article.Abstract)</div>
                    
                    
                    <div class="postClear"></div>
                    <img id="org_image_@index" class="orgImage" onerror="if (this.src != '/content/images/noimage.jpg') this.src = '/content/images/noimage.jpg';" width="100%" src="@article.ImageUrl" alt="picture">
                    <div id="org_article_@index" class="orgArticle">@Html.Raw(Helpers.HtmlDecode(article.Content))</div>
                    <div class="listInfo">
                        <a href="/@locale/r/@Helpers.HtmlDecode(article.GroupName)">@Helpers.HtmlDecode(article.GroupName)   </a>
                        <i class="fa fa-clock-o"> @article.CreatedOn </i> 
                        <i class="fa fa-commenting-o"> <a href="/@locale/r/@article.GroupName/comments/@article.Id/@Helpers.GetUrlTitle(Helpers.HtmlDecode(article.Title))/" target="_blank">@article.Comments</a> </i> 
                        <i class="fa fa-user-o" style="float:right;"> <a href="/@locale/user/@article.UserName">@article.UserName</a></i> 
                    </div>
                </div>
            </div>
            <div class="postClear"></div>
        }
        index++;
    }
    
    @*@{
        Html.RenderPartial("~/views/Shared/Controls/AssistanceModule.cshtml", 1);
    }*@
    <span class="footermenu">
        View more:
        @if(ShowPrev()) {
        <a class="nextbutton" href ="?page=@GetPrevPageNo()">< Prev </a><span class="separator"></span> }
        <a class="nextbutton" href ="?page=@GetNextPageNo()">Next > </a>
        or try a <a class="nextbutton" href="/@CultureInfo.CurrentUICulture.Name/random"> Random Subreddah</a>
    </span>
</div> 
@if(Model.Articles.Count<5){
<div id="box" style="height:100vh;"></div>
}