@model SeededComments
@using Reddah.Web.UI.Models
@using Reddah.Web.UI.Utility
@using System.Globalization   
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}
@if (Model.Comments.Where(s => s.ParentId == Model.Seed).Any())
{
    <ul class="nestedlist">
    @foreach (var node in Model.Comments)
    {
        if (node.ParentId == Model.Seed)
        {
            var seededComments = new SeededComments { Seed = node.Id, Comments = Model.Comments };
            <li class="comment">
                <div class="votecell">
                    <div class="vote">
                        vote
                        @*@if (Request.IsAuthenticated){
                        <a class="vote-up-off" ng-click="vote(@node.Id, 'up', @node.Up)">up vote</a>
                        <span itemprop="upvoteCount" class="vote-count-post" id="vote-count-post-@node.Id">-</span>
                        <a class="vote-down-off" ng-click="vote(@node.Id, 'down', @node.Down)">down vote</a>}
                        else{
                        <a class="vote-up-off" ng-click="showPanel()">up vote</a>
                        <span itemprop="upvoteCount" class="vote-count-post">-</span>
                        <a class="vote-down-off" ng-click="showPanel()">down vote</a>
                        }*@
                    </div>
                </div>
                <div class="entry">
                    <collapser-comment toggle1="[-]" toggle2="[+]" locale="@locale" username="@node.UserName" createdon="@Helpers.TimeAgo(node.CreatedOn)" content="@node.Content" count="@node.Count" parentid="@Model.Seed">
                        @if (Request.IsAuthenticated){
                        <div class="buttons">
                            <collapser caption="reply">
                                @Html.Partial("~/Views/Articles/NewComment.cshtml", new CommentModel() { ParentId = node.Id })
                            </collapser>
                        </div>}
                        <div class="child">
                            @Html.Partial("Comment", seededComments)
                        </div>
                    </collapser-comment>
                </div>
                <div class="clearline"></div>
            </li>
        }
    }
    </ul>
}

