@using Reddah.Web.UI.Models
@using System.Globalization   
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}
@functions{
    public string GetColspan(string imageUrl)
    {
        return String.IsNullOrEmpty(imageUrl) ? "2" : "1";
    }
}
<link href="/Content/Post.css" rel="stylesheet" />
<h1 class="HomePageModular">@Model.ArticleTitle</h1>
<table class="HomePageModular">
    <tr>
        <td class="HomePageModularLeftContent">
            @{
                //DeflectionModule dm = Model.Deflection;

                //if (dm.Visible)
                //{
                //    Html.RenderPartial("~/views/Shared/Controls/DeflectionModule.cshtml", dm);
                //}

                int index = 1;
            }

            @foreach (var article in Model.Articles)
            {
                if (!String.IsNullOrEmpty(article.Title) && !String.IsNullOrEmpty(article.Abstract) && !String.IsNullOrEmpty(article.ArticleUrl))
                {
                    <div class="BrowsePreview">
                        <div class="StartModuleLiner" style="width: 100%;"></div>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="votecell"><div class="voterank">@index</div></td>
                                    <td class="votecell">
                                        <div class="vote">
                                            <input type="hidden" name="_id_" value="14276817">
                                            <a class="vote-up-off" title="This question shows research effort; it is useful and clear" ng-click="showPanel()">up vote</a>
                                            <span itemprop="upvoteCount" class="vote-count-post ">@article.Count</span>
                                            <a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful" ng-click="showPanel()">down vote</a>
                                            @*<a class="star-off" href="#" title="This is a favorite question (click again to undo)">favorite</a>*@
                                                
                                        </div>
                                    </td>
                                    <td class="postcell">
                                        <table>
                                            <tr>
                                                @if (!String.IsNullOrEmpty(article.ImageUrl)) 
                                                {
                                                <td class="listImage">
                                                    <div class="listImageWrapper">
                                                        <a href="/@locale/@article.ArticleUrl">
                                                            <img class="BrowsePreviewImage" onerror="if (this.src != '/content/images/noimage.jpg') this.src = '/content/images/noimage.jpg';" width="193" src="@article.ImageUrl" alt="picture">
                                                        </a>
                                                    </div>
                                                </td>
                                                }
                                                <td class="rightBoxModule listRight" colspan="@GetColspan(article.ImageUrl)">
                                                    <h2><a href="@article.ArticleUrl">@Html.Raw(article.Title)</a> <span class="listInfo">(source)</span></h2>
                                                    <div>@Html.Raw(article.Abstract)</div>
                                                    <div class="listInfo">submitted @article.CreatedOn ago by <a href="/@locale/user/@article.UserName">@article.UserName</a> to <a href="/@locale/r/@article.GroupName">/r/@article.GroupName</a></div>
                                                    <div class="listInfo">2839 comments share save hide report</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
                index++;
            }
    
            @{
                Html.RenderPartial("~/views/Shared/Controls/AssistanceModule.cshtml", 1);
            }
        </td>
        <td class="HomePageModularCenterContent">
            @Html.Partial("~/Views/Shared/Controls/LoginRegister/JsonLogin.cshtml", new Reddah.Web.UI.Models.LoginModel())
            @{
                int j = 0;
                foreach (var rightBoxModule in Model.RightBoxModules)
                {
                    if (!String.IsNullOrEmpty(rightBoxModule.Title) && !String.IsNullOrEmpty(rightBoxModule.ArticleUrl))
                    {
                        if (j == 3)
                        {
                            break;
                        }
                        <div class="HomePageRightBoxModule">
                            <table>
                                <tr>
                                    <td>
                                        <a href="/@locale/@rightBoxModule.ArticleUrl"><img alt="@rightBoxModule.ImageUrl" src="@rightBoxModule.ImageUrl"/></a>
                                    </td>
                                    <td class="rightBoxModule">
                                        <h2><a href="/@locale/@rightBoxModule.ArticleUrl">@rightBoxModule.Title</a></h2>
                                        <div>@rightBoxModule.Description</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        j++;
                    }
                }
            }
        </td>
    </tr>
</table>