@using Reddah.Web.UI.Models
@using System.Globalization   
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}
<h1>@Model.ArticleTitle</h1>
<div class="BrowsePreviewsContent">
    @{
        DeflectionModule dm = Model.Deflection;

        if (dm.Visible)
        {
            Html.RenderPartial("~/views/Shared/Controls/DeflectionModule.cshtml", dm);
        }
    }

    @foreach (var article in Model.Articles)
    {
        if (!String.IsNullOrEmpty(article.Title) && !String.IsNullOrEmpty(article.Description) && !String.IsNullOrEmpty(article.ArticleUrl))
        {
            <div class="BrowsePreview">
                <div class="BrowsePreviewTitle">
                    <a href="@article.ArticleUrl">@Html.Raw(article.Title)</a>
                </div>
                @if (!String.IsNullOrEmpty(article.ImageUrl))
                {
                    <div style="float: left;">
                        <a href="/@locale/@article.ArticleUrl"><img class="BrowsePreviewImage" src="@article.ImageUrl" alt="picture"></a>
                    </div>
                }
                    <div>
                        @Html.Raw(article.Description)
                    </div>

                <div class="StartModuleLiner" style="width: 100%;"></div>
            </div>
        }
    }
    
    @{
        Html.RenderPartial("~/views/Shared/Controls/AssistanceModule.cshtml", 1);
    }
</div>
<br/>