@using Reddah.Web.UI.Models
@using System.Globalization   
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}
<link href="/Content/Post.css" rel="stylesheet" />
<h1 class="HomePageModular">@Model.ArticleTitle</h1>
<table class="HomePageModular">
    <tr>
        <td class="HomePageModularLeftContent">
            <div class="BrowsePreviewsContent">
                @{
                    DeflectionModule dm = Model.Deflection;

                    if (dm.Visible)
                    {
                        Html.RenderPartial("~/views/Shared/Controls/DeflectionModule.cshtml", dm);
                    }

                    int index = 1;
                }

                @foreach (var article in Model.Articles)
                {
                    if (!String.IsNullOrEmpty(article.Title) && !String.IsNullOrEmpty(article.Description) && !String.IsNullOrEmpty(article.ArticleUrl))
                    {
                        <div class="BrowsePreview">
                            <div class="StartModuleLiner" style="width: 100%;"></div>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="votecell">
                                            <div class="vote">
                                                <input type="hidden" name="_id_" value="14276817">
                                                <a class="vote-up-off" title="This question shows research effort; it is useful and clear">up vote</a>
                                                <span itemprop="upvoteCount" class="vote-count-post ">@article.Count</span>
                                                <a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful">down vote</a>
                                                @*<a class="star-off" href="#" title="This is a favorite question (click again to undo)">favorite</a>*@
                                                <div class="favoritecount"><b>@index</b></div>
                                            </div>
                                        </td>
                                        <td class="postcell">
                                            <div class="BrowsePreviewTitle">
                                                <a href="@article.ArticleUrl">@Html.Raw(article.Title)</a>
                                            </div>
                                            @if (!String.IsNullOrEmpty(article.ImageUrl))
                                            {
                                                <div style="float: left;">
                                                    <a href="/@locale/@article.ArticleUrl"><img class="BrowsePreviewImage" src="@article.ImageUrl" alt="picture"></a>
                                                </div>
                                            }
                                            <div>
                                                @Html.Raw(article.Description)
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                    index++;
                }
    
                @{
                    Html.RenderPartial("~/views/Shared/Controls/AssistanceModule.cshtml", 1);
                }
            </div>
        </td>
        <td class="HomePageModularRightContent">
            
        </td>
    </tr>
</table>