@using Reddah.Web.UI.Models
@using System.Globalization   
@{
    var locale = CultureInfo.CurrentUICulture.Name;
    int index = 1;
}
<link href="/Content/Post.css" rel="stylesheet" />
@*<h1 class="HomePageModular">@Model.ArticleTitle</h1>*@
<div class="rightBox">
    @Html.Partial("~/Views/Shared/Controls/LoginRegister/JsonLogin.cshtml", new Reddah.Web.UI.Models.LoginModel())
    @*@{
        int j = 0;
        foreach (var rightBoxModule in Model.RightBoxModules)
        {
            if (!String.IsNullOrEmpty(rightBoxModule.Title) && !String.IsNullOrEmpty(rightBoxModule.ArticleUrl))
            {
                if (j == 3)
                {
                    break;
                }
                <div class="HomePageRightBoxModule">
                    <table>
                        <tr>
                            <td>
                                <a href="/@locale/@rightBoxModule.ArticleUrl"><img alt="@rightBoxModule.ImageUrl" src="@rightBoxModule.ImageUrl"/></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="rightBoxModule">
                                <h2><a href="/@locale/@rightBoxModule.ArticleUrl">@rightBoxModule.Title</a></h2>
                                <div>@rightBoxModule.Description</div>
                            </td>
                        </tr>
                    </table>
                </div>
                j++;
            }
        }
    }*@
</div>
<div>
    @foreach (var article in Model.Articles)
    {
        if (!String.IsNullOrEmpty(article.Title) && !String.IsNullOrEmpty(article.Abstract) && !String.IsNullOrEmpty(article.ArticleUrl))
        {
            <div class="post">
                <span class="voterank">@index</span>
                <div class="votecell">
                    <div class="vote">
                        @if (Request.IsAuthenticated){
                        <a class="vote-up-off" ng-click="vote(@article.Id, 'up', @(article.Up-article.Down))">up vote</a>
                        <span itemprop="upvoteCount" class="vote-count-post" id="vote-count-post-@article.Id">@(article.Up-article.Down)</span>
                        <a class="vote-down-off" ng-click="vote(@article.Id, 'down', @(article.Up-article.Down))">down vote</a>}
                        else{
                        <a class="vote-up-off" ng-click="showPanel()">up vote</a>
                        <span itemprop="upvoteCount" class="vote-count-post">@(article.Up-article.Down)</span>
                        <a class="vote-down-off" ng-click="showPanel()">down vote</a>
                        }
                    </div>
                </div>
                <div class="postModuleLiner">
                    @if (!String.IsNullOrEmpty(article.ImageUrl)) 
                    {
                    <div class="listImage">
                        <div class="listImageWrapper">
                            <img ng-click="showImage('post', @index)" class="BrowsePreviewImage" onerror="this.style.display='none'" width="193" src="@article.ImageUrl" alt="picture">
                        </div>
                    </div>
                    }
                    <h2><a ng-click="toggleArticle('post', @index)">@Html.Raw(article.Title)</a> <span class="listInfo">(source)</span></h2>
                    <div>@Html.Raw(article.Abstract)</div>
                    <div class="listInfo">submitted @article.CreatedOn ago by <a href="/@locale/user/@article.UserName">@article.UserName</a> to <a href="/@locale/r/@article.GroupName">/r/@article.GroupName</a></div>
                    <div class="listInfo">@article.Comments comments share save hide report</div>
                    <div class="postClear"></div>
                    <img id="org_image_@index" class="orgImage" onerror="if (this.src != '/content/images/noimage.jpg') this.src = '/content/images/noimage.jpg';" width="100%" src="@article.ImageUrl" alt="picture">
                    <div id="org_article_@index" class="orgArticle">@Html.Raw(article.Content)</div>
                </div>
            </div>
            <div class="postClear"></div>
        }
        index++;
    }
    
    @*@{
        Html.RenderPartial("~/views/Shared/Controls/AssistanceModule.cshtml", 1);
    }*@
</div> 