@using Reddah.Web.UI.Resources
@using Reddah.Web.UI.Utility
@using System.Globalization
@{
    var locale = CultureInfo.CurrentUICulture.Name;
    var menu = Request.RequestContext.RouteData.Values["menu"];
    var sub = Request.RequestContext.RouteData.Values["sub"];
    var user = Request.RequestContext.RouteData.Values["user"];
    var keyword = Request.RequestContext.RouteData.Values["keyword"];
}

<style>
    .ai-container {
        width: 1170px;
        margin: 0 auto;
        margin-top: 0;
        min-height: 500px;
        display: flex;
        justify-content: flex-start;
    }

    .ai-list {
        min-width: 940px;
        min-height: 300px;
    }

    .ai-right {
        margin-left: 30px;
        width: 200px;
        min-height: 600px;
    }

    .articleLoading {
        padding: 30px;
        text-align: center;
    }

    .highlight {
        background-color: #FFFF88;
    }

    .totop {
        position: fixed;
        right: 30px;
        bottom: 50px;
        padding: 10px;
        z-index: 10000;
        width: 25px;
        height: 25px;
        text-align: center;
        background-color: #333333;
        line-height: 25px;
        opacity: 0.5;
        transition: 0.2s;
        border-radius: 2px;
        cursor: pointer;
        border-color: white;
        border-style: solid;
    }

    #ai-right .listInfo a {
        color: darkgreen;
    }

    #ai-right .post {
        margin-bottom: 20px;
    }
    .hand{
        cursor: pointer;
    }

    .alert-success {
        display: inline-block;
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
        padding: .8em .8em;
        margin: 0 0;
        border-radius: 5px;
        box-shadow: 0 2px 5px #d1d0bb;
        line-height: 1.5em;
        font-style: normal;
    }

</style>
<link href="/Content/Post.css" rel="stylesheet" />
@if (menu != null && keyword != null && menu.Equals("search") && keyword.Equals("default"))
{
    <div>
        <span>推荐搜索</span>
    </div>
    <div class="postClear"></div>
    <div>
        <span class="em_hint"><a href="/@locale/search/春节">春节</a></span>
        <span class="em_hint"><a href="/@locale/search/祝福">祝福</a></span>
        <span class="em_hint"><a href="/@locale/search/励志">励志</a></span>
        <span class="em_hint"><a href="/@locale/search/友情">友情</a></span>
        <span class="em_hint"><a href="/@locale/search/思念">思念</a></span>
        <span class="em_hint"><a href="/@locale/search/爱国">爱国</a></span>
        <span class="em_hint"><a href="/@locale/search/怀古">怀古</a></span>
        <span class="em_hint"><a href="/@locale/search/思乡">思乡</a></span>
        <span class="em_hint"><a href="/@locale/search/惜时">惜时</a></span>
    </div>
    <div class="postClear"></div>
}
<input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@Helpers.GetAntiForgeryToken()'" />
<div class="ai-container" id="postBlock" ng-controller="articleCtrl">
    <div class="ai-list" id="ai-list" ng-init="getUserProfileArticles('@locale','@menu','@sub','@user','@keyword')" when-scrolled="loadMore('@locale','@menu','@sub','@user','@keyword')">
        <div class="post postModuleLiner" ng-repeat="article in aiArticles" on-finish-render-posts>
            <div class="postClear"></div>
            <div ng-if="article.VideoUrl.length>0">
                <h2><a class="hand" ng-click="viewArticle('@locale', urlDecode(article.GroupName), article.Id, urlDecode(article.Title))">{{htmlDecode(article.Title)}}</a> <i class="fa fa-window-maximize hand" ng-click="viewArticle('@locale', urlDecode(article.GroupName), article.Id, urlDecode(article.Title))"></i></h2>
                <div class="postClear"></div>
                <video id="video_{{article.Id}}" ng-click="playVideo(article.Id)" ng-attr-src="{{trustAsResourceUrl(article.VideoUrl)}}"
                       ng-attr-poster="{{article.VideoPoster}}"
                       controls="controls" loop="true">
                </video>
                <div class="postClear"></div>
            </div>
            <div ng-if="article.VideoUrl.length==0">
                <h2 ng-if="article.ImageUrls.length>1"><a class="hand" ng-click="viewArticle('@locale', urlDecode(article.GroupName), article.Id, urlDecode(article.Title))">{{htmlDecode(article.Title)}}</a> <i class="fa fa-window-maximize hand" ng-click="viewArticle('@locale', urlDecode(article.GroupName), article.Id, urlDecode(article.Title))"></i></h2>
                <div class="postClear" ng-if="article.ImageUrls.length>1"></div>
                <div class="listImage" ng-repeat="articleUrl in article.ImageUrls">
                    <div class="listImageWrapper">
                        <img class="lazy BrowsePreviewImage" onerror="this.style.display='none'" src="" data-original="{{articleUrl}}" alt="picture not found">
                    </div>
                </div>
                <h2 ng-if="article.ImageUrls.length<2"><a class="hand" ng-click="viewArticle('@locale', urlDecode(article.GroupName), article.Id, urlDecode(article.Title))">{{htmlDecode(article.Title)}}</a> <i class="fa fa-window-maximize hand" ng-click="viewArticle('@locale', urlDecode(article.GroupName), article.Id, urlDecode(article.Title))"></i></h2>
            </div>
            <div style="margin-top: 5px;">{{summary(article.Content,120)}}</div>
            <div class="postClear" ng-if="article.ImageUrls.length==3"></div>
            <div class="listInfo" style="margin-top: 5px;">
                <a href="/@locale/r/{{urlDecode(article.GroupName)}}/comments/{{article.Id}}/{{urlDecode(article.Title)}}/" target="_blank">{{article.Comments}} @Resources.Article_Comments </a> <!--share save hide report-->
                <span ng-repeat="group in article.GroupName.split(',')">
                    <a href="/@locale/r/{{group}}"><u>{{group}}</u></a>
                </span>
                @Resources.List_Submit {{article.CreatedOn}} @Resources.List_By <a href="/@locale/user/{{article.UserName}}">{{article.UserName}}</a>
            </div>
        </div>
        <div class="postClear"></div>
        <div ng-init="noMoreResult=false" ng-show="noMoreResult">
            <h3 class="em_error">@Resources.Error_No_More_Result</h3>
            @if (sub != null)
            {
                <div class="postClear"></div>
                <a class="alert-success" href="/@locale/submit?group=@sub" target="_blank" style="color: #3c763d;">@Resources.Header_Create</a>
            }
        </div>
        <div ng-init="serverError=false" ng-show="serverError"><h3 class="em_error"><span onclick="javascript: location.reload();">@Resources.Error_Server_Error</span></h3></div>
        <div class="articleLoading"><img src="/content/images/loading_50x50.gif" ng-show="loading==true" /></div>
    </div>

    @*foreach (string g in sub.ToString().Trim().Split(','))
        {
            <div ng-controller="groupCtrl" data-ng-init="getGroup('@g','@locale')">
                <p>{{group.Desc}}</p>
            </div>
        }*@

    <div class="ai-right" ng-controller="rightBoxCtrl" ng-init="getRightBox('@locale')">
        <div class="post" ng-repeat="item in aiRightBoxItems">
            <div class="listImage">
                <div class="listImageWrapper">
                    <img class="BrowsePreviewImage" width="193" ng-attr-src="{{item.ImageUrl}}" alt="picture not found">
                </div>
            </div>
            <div class="listInfo">
                <h2><a href="/@locale/{{item.ArticleUrl}}">{{urlDecode(item.Title)}}</a></h2>
                <div>{{htmlDecode(item.Description)}}</div>
            </div>
            <div class="postClear"></div>
        </div>
        <div class="articleLoading"><img src="/content/images/loading_50x50.gif" ng-show="rightBoxLoading==true" /></div>
        <div class="postClear"></div>
    </div>
    <a ng-click="toTop()" id="totop"><div class="totop"><i class="fa fa-chevron-up"></i></div></a>
</div>