@using System.Globalization
@using Reddah.Web.UI.ViewModels
<div class="BrowseTitle">
    <h1 id="BrowseServicesTitle">@Model.Title</h1>
</div>
<div class="BrowseLeftNav">
    <div class="BrowseServices">
        @foreach (object product in Model.Products)
        {
            Html.RenderPartial("~/views/BrowseNavigate/BrowseProduct.cshtml", product);
        }
    </div>
</div>
<div id="Loading" class="BrowsePreviewsContent">
</div>
<div class="BrowseArticles">
    <div id="ArticlesPreviews">
        @{
            if (Model.ArticlePreviews != null)
            {
                Html.RenderPartial("~/views/Shared/Controls/ArticlesPreviewsModule.ascx", (object)Model.ArticlePreviews);
            }
        }
    </div>
</div>
<script>
    var loadingSelector = '#Loading';
    
    $(function() {
        $('.DisplayLessOrMoreItems').click(function () {
            var that = $(this);
            
            if (that.text() === "@BrowseProductViewModel.ShowLessText") {
                that.text("@BrowseProductViewModel.ShowMoreText");
                that.attr("title", "@BrowseProductViewModel.ShowMoreText");
            }
            else {
                that.text("@BrowseProductViewModel.ShowLessText");
                that.attr("title", "@BrowseProductViewModel.ShowLessText");
            }
            
            var lis = that.siblings('.' + that.attr('id'));

            lis.toggleClass('hideComponent');
        });
        
        $('.CategoryArticles').click(function () {
            var that = $(this);
            if (that.hasClass("Selected")) {
                return;
            }

            var path = that.attr("link");
            browseCategoryClick(that, path);
            //trigger_back = false;
            window.location.href = "#" + path;
        });

        $('#BrowseServicesTitle').click(function () {
            alert(window.history.length);
        });
    });

    function browseCategoryClick(selector, path) {
        $('.CategoryArticles.Selected').removeAttr("data-omniture");
        $('.CategoryArticles.Selected').removeClass("Selected");
        
        var title = selector.attr("title");
        $('#BrowseServicesTitle').text(title);
        
        selector.addClass("Selected");
        
        $("#ArticlesPreviews").html("");
        $(loadingSelector).addClass('LoadingAnimationBrowse');

        GetPreviewsArticles("@CultureInfo.CurrentUICulture.Name", path,
            function(result) {
                $(loadingSelector).removeClass('LoadingAnimationBrowse');
                $("#ArticlesPreviews").html(result);
            },
            function() {
                $(loadingSelector).removeClass('LoadingAnimationBrowse');
            }
        );

    }

    function GetPreviewsArticles(culture, path, successFunction, errorFunction) {
        $.ajax({
            type: "GET",
            url: '/' + culture + '/BrowseNavigate/GetPreviewsArticlesFragment',
            //data: "path=" + encodeURIComponent(path),
            data: 'path=' + path,
            dataType: "text",
            success: function(data) {
                successFunction(data);
            },
            error: function() {
                if ($.isFunction(errorFunction)) {
                    errorFunction();
                }
            }
        });
    }

</script>