@using CaptchaMvc.HtmlHelpers
@model Reddah.Web.UI.Article
@{
    ViewBag.Title = "submit to reddah";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="submitForm">
    <h2>You are submitting a link. The key to a successful submission is interesting content and a descriptive title.</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.Title)
                    @Html.TextAreaFor(m => m.Title, new { @required = "required", @maxlength="20" })
                    <br />
                    @Html.ValidationMessageFor(m => m.Title)
                </li>
                <li>
                    @Html.LabelFor(m => m.Content)
                    @Html.TextAreaFor(m => m.Content, new { @required = "required", @maxlength = "50" })
                    <br />
                    @Html.ValidationMessageFor(m => m.Content)
                </li>
            </ol>
            @*@Html.Captcha("Click to get a new one", "", 5, "are you a robot?", true)*@
            @Html.MathCaptcha("Click to get a new one", "", "are you a robot?", true)
            <br/>
            <input type="submit" value="submit" />
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
    <div ng-app="">
        <p>Name : <input type="text" ng-model="name"></p>
        <h1>Hello {{name}}</h1>
    </div>
</aside>