@using System.Globalization
@using Reddah.Web.UI.Resources
@using CaptchaMvc.HtmlHelpers
@model Reddah.Web.UI.Article
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}
<link href="/Content/Comment.css" rel="stylesheet" />
<link href="/Content/Post.css" rel="stylesheet" />
<script src="~/Content/app/ckeditor/ckeditor.js"></script>
<div class="rightBox">
    <div class="subreddahbox">
        <h5>@Resources.Submit_PageTitle_New</h5>
        <h3>Rules</h3>
        <ol>
            <li>You also agree to follow the Reddah Content Policy. These guidelines are intended to keep people safe, protect kids, keep reddah running, and to encourage personal responsibility for what you do on reddah.</li>
            <li>You may not post any graphics, text, photographs, images, video, audio or other material that we deem to be junk or spam. Cluttering reddah with this sort of content reduces the quality of the reddah experience for others.</li>
            <li>You agree not to interrupt the serving of reddah, introduce malicious code onto reddah, make it difficult for anyone else to use reddah due to your actions, attempt to manipulate votes or reddah’s systems, or assist anyone in misusing reddah in any way. It takes a lot of work to maintain reddah. Be cool.</li>
        </ol>
        <br />
    </div>
</div>
<div class="articleContent">
    <table class="HomePageModular">
        <tr>
            <td class="HomePageModularLeftContent">
                <hgroup class="title">
                    <h1>@Resources.Submit_PageTitle_New</h1>
                </hgroup>
                @if (Request.IsAuthenticated)
                {
                    <section id="submitForm">
                        <h2>@Resources.Submit_PageDesc</h2>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                        <fieldset>
                            <ol>
                                <li>
                                    @Html.TextAreaFor(m => m.Title, new { @required = "required", @maxlength = "500", @placeholder = @Resources.Submit_Title })
                                    <br />
                                    @Html.ValidationMessageFor(m => m.Title)
                                </li>
                                <li>
                                    @Html.TextAreaFor(m => m.GroupName, new { @required = "required", @maxlength = "200", @placeholder = @Resources.Submit_Group })
                                    <br />
                                    @Html.ValidationMessageFor(m => m.GroupName)
                                </li>
                                <li>
                                    @Html.TextAreaFor(m => m.Content, new { @required = "required", @placeholder = "content" })
                                    <br />
                                    @Html.ValidationMessageFor(m => m.Content)
                                    <script>
                                            CKEDITOR.replace('Content', {
                                                language: '@locale',
                                                uiColor: '#ffffff',
                                        });
                                    </script>
                                </li>
                                <li>
                                    @Html.TextAreaFor(m => m.Abstract, new { @required = "required", @maxlength = "200", @placeholder = @Resources.Submit_Abstract })
                                    <br />
                                    @Html.ValidationMessageFor(m => m.Content)
                                </li>
                            </ol>
                            @Html.MathCaptcha(@Resources.Submit_Captura_New, "", @Resources.Submit_Captura_Robot, true)
                            <br />
                            <input type="submit" value="@Resources.Submit_Button_Submit" />
                            <button onclick="javascript:history.back(-1);">@Resources.Submit_Button_Cancel</button>
                        </fieldset>
                        }
                    </section>
                }
                else
                {
                    <h2>@Resources.Submit_Button_Login_New</h2>
                }
            </td>
            <td class="HomePageModularRightContent"></td>
        </tr>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}