@{
    ViewBag.Title = "Home Page v2";
}

@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}*@

@using System.Globalization   
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}

<h1 class="HomePageModular">@Model.PageTitle v2</h1>
<table class="HomePageModular">
        <tr>
            <td class="HomePageModularLeftContent">
                <div class="Announcements">
                    <div class="AnnouncementsModuleLiner"></div>
                    <h2 class="Announcements">@Model.AnnouncementsTitle</h2>
                    <div class="AnnouncementsLinkList">
                        @{
                            int n = 0;
                            foreach (var announcement in Model.Announcements)
                            {
                                if (!String.IsNullOrEmpty(announcement.Title) && !String.IsNullOrEmpty(announcement.ArticleUrl))
                                {
                                    if (n == 3)
                                    {
                                        break;
                                    }
                                    <div class="AnnouncementsLink">
                                        <a href="/@locale/@announcement.ArticleUrl" data-link-position="Announcements">@Html.Raw(announcement.Title)</a>
                                    </div>
                                    n++;
                                }
                            }
                        }
                    </div>
                </div>
                @foreach (var section in Model.HomePageContents)
                {
                    var k = 0;
                    <div class="HomePageContent">
                        <div class="HomePageContentModuleLiner"></div>
                        <h2 class="HomePageContent">@Html.Raw(section.Title)</h2>
                        <div class="HomePageContentLinkList">
                                @foreach (var item in section.Items)
                                {
                                    if (!string.IsNullOrEmpty(item.ArticleUrl) && !string.IsNullOrEmpty(item.Title))
                                    {
                                        if (k == 5)
                                        {
                                            break;
                                        }
                                        <div class="HomePageContentLink">
                                            <a href="/@locale/@item.ArticleUrl">@Html.Raw(item.Title)</a>
                                        </div>

                                        k++;
                                    }
                                }
       
                                <div class="HomePageContentLink">
                                    <a href="/@locale/Browse" title="View all @Html.Raw(section.Title) articles">View All</a>
                                </div>
                        </div>
                    </div>
                }
            </td>
            <td class="HomePageModularRightContent">
                @{
                    int j = 0;
                    foreach (var rightBoxModule in Model.RightBoxModules)
                    {
                        if (!String.IsNullOrEmpty(rightBoxModule.Title) && !String.IsNullOrEmpty(rightBoxModule.ArticleUrl))
                        {
                            if (j == 3)
                            {
                                break;
                            }
                            <div class="HomePageRightBoxModule">
                                <a href="/@locale/@rightBoxModule.ArticleUrl"><img alt="@rightBoxModule.ImageUrl" src="@rightBoxModule.ImageUrl"/></a>
                                <h2><a href="/@locale/@rightBoxModule.ArticleUrl">@rightBoxModule.Title</a></h2>
                                <div>@rightBoxModule.Description</div>
                            </div>
                            j++;
                        }
                    }
                }
            </td>
        </tr>
    </table>